.md-content__title {
    text-align: center;
    display: block;
    font-size: 24px;
    line-height: 1.8;
    color: rgba(0,0,0,.75);
    font-style: normal;
    font-weight: 400;
}

.md-content__con {
    margin-top: 1rem;
    font-size: 16px;
}

.md-content__con pre {
    margin-block-start: 12px;
    margin-block-end: 12px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    border-radius: 7px;
    font-weight: 400;
    line-height: 1rem;
}

.md-comments {
    margin: 0 0.8rem;
    padding: 1.2rem 0 1.2rem;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.comment {
    border-bottom: 1px solid rgba(0,0,0,.05);
    font-size: 15px; 
    color: rgba(0,0,0,.75); 
    padding: 0.7rem 0;
}

.comments-title {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.comment-name {
    font-weight: bold;
}

.comment-content {
    padding: 0.5rem 0;
    text-indent: 2em;
}

.comment-date {
    text-align: right;
}

.publish-comment {
    margin: 1.2rem 0;
}

.comment-box {
    margin: 0.5rem 0;
    width: 100%;
    height: 5rem;
    border-radius: 4px;
    resize: none;
    color: rgba(0,0,0,.75);
    border: 1px solid rgba(0,0,0,.15);
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.publish-title {
    font-size: 15px;
}

.comment-input {
    margin: 0.5rem 0;
    width: 30%;
    height: 1.5rem;
    font-size: 15px;
    color: rgba(0,0,0,.75);
    border: 1px solid rgba(0,0,0,.15);
    outline: none;
    border-radius: 4px;
    padding: 10px;
    display: block;
}

.comment-btn {
    text-align: center;
    color: #fff;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
}

.comment-btn:hover {
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
}

/* githun markdown文本 */
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px 0;
}

.error-info {
    color: red;
    font-size: 0.6rem;
}